@import "../../../atlas_core/web/_variables.scss";
@import "../../../../theme/web/custom-variables.scss";

.chat-container-agent {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 1px solid $table-border-separator-color;
    padding-top: $spacing-medium;
    margin-bottom: unset;   
    padding-left: unset;
    padding-right: unset;
    .chat-container {
        padding-left: $spacing-medium;
        padding-right: $spacing-medium;
    }
    .chat-bubble-wrapper {
        .chat-message-card {
            background: $bg-color-secondary;
            border-radius: 8px;
            border: 1px solid $border-color-default;
        }

        &--user .chat-message-card {
            background: $gray-lighter;
            border: 1px solid $gray-lighter;
        }
    }
}