@import '../../../theme/web/custom-variables';

//custom color shades for ticket icons and badges

$brand-primary-light: rgba($brand-primary, 0.90);
$brand-primary-lighter: rgba($brand-primary, 0.60);
$brand-warning-light: rgba($brand-warning, 0.90);
$brand-warning-lighter: rgba($brand-warning, 0.60);


.badge {
    &.badge--primary-light {
        background-color: $brand-primary-light;
    }

    &.badge--primary-lighter {
        background-color: $brand-primary-lighter;
    }

    &.badge--warning-light {
        background-color: $brand-warning-light;
        color: rgba($font-color-default, 0.8);
    }

    &.badge--warning-lighter {
        background-color: $brand-warning-lighter;
        color: rgba($font-color-default, 0.8);
    }
}


.btn {
    &.btn--primary-light {
        background-color: $brand-primary-light;
        color: $btn-inverse-color;
    }

    &.btn--primary-lighter {
        background-color: $brand-primary-lighter;
        color: $btn-inverse-color;
    }

    &.btn--warning-light {
        background-color: $brand-warning-light;
        color: $btn-inverse-color;
    }

    &.btn--warning-lighter {
        background-color: $brand-warning-lighter;
        color: $btn-inverse-color;
    }
}


.ticket-overview-container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: center;
}


.ticket-container {
    width: 100%;
    max-width: 960px;
    height: 100%;
    margin-bottom: 0;

    &>* {
        height: 100%;
    }

    .mx-dataview-content {
        height: 100%;
        display:flex;
        flex-direction: column;
    }

}


.chatbot-container {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: $spacing-medium;
    margin-bottom: 0;    
}


.chat-container-header {
    padding: 0px;
    width: 100%;
    border-bottom: 1px solid $border-color-default;
}


.btn-chat-header {
    margin-bottom: $spacing-medium;
    margin-left: $spacing-medium;
    font-size: $btn-font-size * 1.5;
}


.ticket {
    border: 1px solid $border-color-default;
    margin-bottom: $spacing-small;
    padding: $spacing-medium;

    .btn {
        font-size: $btn-font-size * 1.5;
        padding: 0;
        border: 1px solid $border-color-default;

        .mx-icon-lined {
            margin: $spacing-small;
        }
    }

    .card-title {
        text-wrap: nowrap;
        text-overflow: ellipsis;
    }

    .row>div>* {
        margin: 0;
    }

    .mx-link {
        color: $font-color-default;
        font-size: $font-size-large;
    }
}


.scroll-container {
    flex: 1 1 0px;
    overflow-y: auto;
    overflow-x: hidden;
}


.btn-container {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $border-color-default;

    .btn {
        margin-left: $spacing-small;
        margin-top: $spacing-medium;
    }
}




//customizations on conversational UI
.chat-bubble-wrapper {
    .chat-message-card {
        background: $bg-color-secondary;
        border-radius: 8px;
        border: 1px solid $border-color-default;
        padding: $spacing-medium;
    }

    &--user .chat-message-card {
        background: $gray-lighter;
        border: 1px solid $gray-lighter;
    }
}


.btn-chat-popup {
    right: calc(50vw - 720px);
}


//Temporarily overriding to fix the scrolling of messages
.chat-container .messages-container {
    flex: 1 1 0px;
}

.text-clamp--1-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  text-wrap: wrap !important;
}