@import "../../themesource/atlas_core/web/_variables.scss";
@import "custom-variables";


// Don't show page buttons for the gallery (e.g. conversationstarters)
.gallery-hide-paging{
    .widget-gallery-footer{
        display: none;
    }
}

// Equal height for cards in a layout grid (e.g. on the admin page)
.mx-layoutgrid.card-container>.row {
    padding-bottom: 24px;

    .col>.card {
        height: 100%;
        margin-bottom: 0px;
        .widget-datagrid{
            margin-right: -24px;
            margin-left: -24px;
        }
    }
}

// Ensures 100% height in react-mode
.layout-atlas .mx-scrollcontainer .mx-scrollcontainer-middle .mx-scrollcontainer-wrapper .mx-scrollcontainer
    .region-content .mx-scrollcontainer-wrapper  {
        height: 100%;
        .mx-placeholder{
            height: 100%;
        }
}